<div class="container">

        <div class="row">

        <div class="col-md-3"></div>
        <div class="col-md-6">

            <ul class="nav nav-tabs" id="loginTab">
              <li><a data-target="#register" data-toggle="tab">Sign Up for Free!</a></li>
              <li><a data-target="#signIn" data-toggle="tab">Log In</a></li>
              <li class="active"><a data-target="#intro" data-toggle="tab">What is Pope Baboon?</a></li>
            </ul>


            <div class="tab-content">
              <div class="tab-pane fade" id="register">
                <form class="content" role="form">
                    <div class="form-group">
                        <input ng-model="email" type="email" placeholder="Email" class="form-control" />
                        
                    </div>
                    <div class="form-group">
                        <input ng-model="pass" type="password" placeholder="Password" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <input ng-model="confirm" type="password" placeholder="Confirm Password" class="form-control" />
                    </div>

                    <p class="alert alert-danger" ng-show="err">{{err}}</p>
                    <button class="btn btn-primary" ng-click="createAccount()">Create My Account</button>

                </form>
              </div>
              <div class="tab-pane fade" id="signIn">
                <div class="content">
                <form role="form">
                    <div class="form-group">
                        <label for="emailField">Email:</label>
                        <input ng-model="email" type="email" placeholder="example@example.com" class="form-control" id="emailField">
                    </div>

                    <div class="form-group">
                        <label for="passwordField">Password:</label>
                        <input ng-model="pass" type="password" placeholder="password" class="form-control" id="passwordField">
                    </div>

                    <p class="alert alert-danger" ng-show="err">{{err}}</p>
                    <button class="btn btn-primary" ng-click="login()">Login</button>
                </form>             
              </div>
            </div>
            <div class="tab-pane fade in active" id="intro">
                <div class="content">
                    <p>Welcome!</p>
                    <p>Project Pope Baboon is a web-based note taker built with <a href="https://www.firebase.com/">AngularJS + Firebase</a></p>
                    <p>Use it to take and organize quick notes (:</p>

                    <button class="btn btn-default"><a target="_blank" href="https://github.com/oliv9286/popebaboon">View source code on GitHub</a></button>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-3"></div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 lead">
                <p>Don't wanna bother registering? Try: </p>

                <div class="btn-toolbar" role="toolbar">
                <button class="btn-group btn btn-primary fa fa-facebook-square" ng-click="loginFB()">
                    Login with Facebook</button>
                <button class="btn-group btn btn-primary fa fa-github" ng-click="loginGH()">
                    Login with GitHub</button>
                </div>
            </div>
            <div class="col-md-3"></div>
            
        </div>
</div>